
@{
    ViewBag.Title = "editProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var sp = ViewBag.sanpham;
}

<h2>Sửa sản phẩm</h2>
<div class="row ">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="/Son/editProduct" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Tên sản phẩm</label>
                    <input type="text" name="MaSanPham" style="display:none;" value="@sp.MaSanPham" class="form-control" id="inputAddress" placeholder="">
                    <input type="text" name="TenSanPham" value="@sp.TenSanPham" class="form-control" id="inputAddress" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label>Mô tả</label>
                    <input type="text" name="MoTa" value="@sp.MoTa" class="form-control" id="inputAddress" placeholder="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Giá</label>
                    <input type="text" name="Gia" value="@sp.Gia" class="form-control" id="inputAddress" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label>Số lượng</label>
                    <input type="text" name="SoLuongCon" value="@sp.SoLuongCon" class="form-control" id="inputAddress" placeholder="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Xuất xứ</label>
                    <input type="text" name="XuatXu" value="@sp.XuatXu" class="form-control" id="inputAddress" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label>Hãng</label>
                    <input type="text" name="Hang" value="@sp.Hang" class="form-control" id="inputAddress" placeholder="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Số lượt xem</label>
                    <input type="text" name="SoLuotXem" value="@sp.SoLuotXem" class="form-control" id="inputAddress" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label>Loại sản phẩm</label>
                    <select style="padding:5px;" name="MaLoaiSanPham">
                        @foreach (var item in Model)
                        {
                            if (@sp.MaLoaiSanPham == @item.MaLoai)
                            {
                                <option selected value="@item.MaLoai">@item.TenLoai</option>
                            }
                            else
                            {
                                <option value="@item.MaLoai">@item.TenLoai</option>
                            }

                        }

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Chọn ảnh </label>
                <input type="file" name="file" id="file" />
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật sản phẩm</button>
            <button type="button" class="btn btn-outline-danger">Quay lại</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

