
@{
    ViewBag.Title = "editProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var sp = ViewBag.sanpham;
}

<h2>Sửa sản phẩm</h2>
<div class="row ">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="/Son/editProduct" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Tên sản phẩm<span style="color:red;font-size:10px">@ViewData["tensp"]</span> </label>
                    <input style="display:none;" type="text" name="MaSanPham" value="@sp.MaSanPham" class="form-control" id="inputAddress" placeholder="">
                    <input type="text" name="TenSanPham" value="@sp.TenSanPham" class="form-control" id="inputAddress" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label>Mô tả <span style="color:red;font-size:10px">@ViewData["mota"]</span></label>
                    <input type="text" name="MoTa" value="@sp.MoTa" class="form-control" id="inputAddress" placeholder="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Giá <span style="color:red;font-size:10px">@ViewData["gia"]</span></label>
                    <input type="number" name="Gia" value="@sp.Gia" class="form-control" id="inputAddress" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label>Số lượng <span style="color:red;font-size:10px">@ViewData["soluong"]</span></label>
                    <input type="number" value="@sp.SoLuongCon" name="SoLuongCon" class="form-control" id="inputAddress" placeholder="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Xuất xứ <span style="color:red;font-size:10px">@ViewData["xuatxu"]</span></label>
                    <input type="text" value="@sp.XuatXu" name="XuatXu" class="form-control" id="inputAddress" placeholder="">
                </div>
                <div class="form-group col-md-6">
                    <label>Hãng <span style="color:red;font-size:10px">@ViewData["hang"]</span></label>
                    <input type="text" value="@sp.Hang" name="Hang" class="form-control" id="inputAddress" placeholder="">
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label>Loại sản phẩm</label>
                    <select style="padding:5px;" name="MaLoaiSanPham">
                        @foreach (var item in Model)
                        {
                            if (item.MaLoai == sp.MaLoaiSanPham)
                            {
                                <option selected value="@item.MaLoai">@item.TenLoai</option>
                            }
                            else
                            {
                                <option value="@item.MaLoai">@item.TenLoai</option>
                            }
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label>Chọn ảnh<span style="color:red;font-size:10px">@ViewData["anh"]</span> </label>
                    <input type="file" name="file" id="file" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật sản phẩm</button>
            <button type="button" class="btn btn-outline-danger">Quay lại</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

