@{ 
    var sokhachonline = ViewBag.online;
    var tongtruycap = ViewBag.totalvisit;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8 " />
    <title>Quần áo trẻ em Bảo Châu, Thời Trang trẻ em xuất khẩu giá sỉ </title>
    <meta name="description" content="Quần áo Bảo Châu quần áo trẻ em xuất khẩu bán giá sỉ, thời trang trẻ em xuất khẩu đảm bảo giá tốt hỗ trợ 24/7 quan ao bao chau 13 năm kinh nghiệm">
    <meta name="keywords" content="quan ao tre em, quần áo trẻ em,  thoi trang tre em, thoi trang tre em xuat khau, quan ao bao chau,">
    <META NAME="robots" CONTENT="index,follow">
    <META NAME="author" CONTENT="Bảo Châu">
    <META NAME="copyright" CONTENT="Copyright (C) 2010 quanaobaochau.com">
    <META NAME="revisit-after" CONTENT="1 day">
    <META NAME="document-rating" CONTENT="General">
    <META NAME="document-distribution" CONTENT="Global">
    <META HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="VN">
    <META NAME="distribution" CONTENT="Global">
    <META NAME="area" content="Quần áo Bảo Châu quần áo trẻ em xuất khẩu bán giá sỉ, thời trang trẻ em xuất khẩu đảm bảo giá tốt hỗ trợ 24/7 quan ao bao chau 13 năm kinh nghiệm">
    <META NAME="placename" content="vietnam">
    <META NAME="resource-type" content="Document">
    <META NAME="owner" content="index.html">
    <META NAME="classification" CONTENT="Quần áo Bảo Châu quần áo trẻ em xuất khẩu bán giá sỉ, thời trang trẻ em xuất khẩu đảm bảo giá tốt hỗ trợ 24/7 quan ao bao chau 13 năm kinh nghiệm">
    <META NAME="Search Engines" CONTENT=" www.google.com.vn,  www.google.com. www.google.com.vn, www.altaVista.com, www.aol.com, www.infoseek.com, www.excite.com, www.hotbot.com, www.lycos.com, www.magellan.com, www.looksmart.com, www.cnet.com, www.voila.com, www.google.fr, www.google.com, www.google.com.vn, www.yahoo.fr, www.yahoo.com, www.alltheweb.com, www.msn.com, www.netscape.com, www.nomade.com, " />
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .contentstyle {
            width: auto;
        }

        #ddtabs ul li {
            display: inline-block;
        }

            #ddtabs ul li a {
                display: block;
                padding: 5px 7px;
                background-color: hotpink;
                color: white;
            }

                #ddtabs ul li a:hover {
                    background-color: deeppink;
                }

        a {
            text-decoration: none;
        }

        .block_1_top .tab_8_8 {
            color: white !important;
            background-color: hotpink !important;
        }

            .block_1_top .tab_8_8 a {
                display: block;
                padding: 5px 10px;
                color: white;
            }

        .block_1_top .block_1_center .menu_s {
            font-size: 12px;
            color: cadetblue;
            display: block;
            padding: 5px 10px;
            background-position: left;
            background-image: url("images/icon/menu_arr_nl.gif");
        }

        .bg_right .block_2_top .block_2_title {
            color: white !important;
            background-color: hotpink !important;
            display: block;
            padding: 5px 10px;
            color: white;
        }
        .mySlides {
            display: none;
        }
    </style>
</head>
<body topmargin="0" bottommargin="0" rightmargin="0" leftmargin="0">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "../connect.facebook.net/vi_VN/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="bottom" align="center" class="bg_top">
                <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left" valign="middle" height="0" class="bg_top_2">
                            <div style="width:100%;padding:10px;">
                                @* đặt ảnh banner ở đây*@
                                <img style="width:100%; height:auto;" src="https://thumbs.dreamstime.com/b/black-friday-sale-template-horizontal-banner-hand-drawn-fashion-models-copy-space-new-collection-clothes-black-friday-106319340.jpg" />
                            </div>
                            <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="right" valign="middle" height="0">
                                        <div id="ddtabs" class="menu">
                                            <ul>
                                                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                                                <u class=menu_center><b></b></u>                                             
                                                <li>@Html.ActionLink("Đặt hàng", "DatHang", "Home")</li>
                                                <u class=menu_center><b></b></u>
                                                <li>@Html.ActionLink("Thời Trang Bé Trai", "About", "Home")</li>
                                                <u class=menu_center><b></b></u>
                                                <li>@Html.ActionLink("Thời Trang Bé Gái", "Contact", "Home")</li>
                                                <u class=menu_center><b></b></u>
                                                <li>@Html.ActionLink("Quần áo quảng châu", "Index", "Home")</li>
                                                <u class=menu_center><b></b></u>
                                               
                                                <li>@Html.ActionLink("Tin tức", "Index", "Home")</li>
                                                <u class=menu_center><b></b></u>
                                                <li>@Html.ActionLink("Quản Lý Sản Phẩm", "Index", "Son")</li>
                                                <u class=menu_center><b></b></u>
                                                <div id="gc1"></div>
                                                <div id="gc2"></div>
                                            </ul>
                                        </div>
                                        <script type="text/javascript" src="menu_css/menu.js"></script>
                                        <script type="text/javascript">
                                            ddtabmenu.definemenu("ddtabs", 0)
                                        </script>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td align="left" valign="top" class="bg_all_top tab_8_8" style="padding-top: 3px; padding-bottom: 0px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="150" valign="top" class="bg_left">
                            <table class="block_1_top" cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tab_8_8 block_1_title"><a href="dat-hang/dat-hang-bao-chau-vn-p-24925-0.html">Đặt hàng</a></td>
                                </tr>
                                <tr>
                                    <td valign="middle" class="block_1_center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="dat-hang/dat-hang-bao-chau-vn-p-24925-0.html">CÁCH ĐẶT HÀNG.</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="dat-hang/dang-ky-nhan-gia-si-vn-p-25831-0.html">Đăng ký</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img height=8 alt="" src="images/spacer.gif"></td>
                                </tr>
                            </table>
                            <table class="block_1_top" cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tab_8_8 block_1_title"><a href="quan-ao-be-trai-vn-12-0.html">Thời Trang Bé Trai</a></td>
                                </tr>
                                <tr>
                                    <td valign="middle" class="block_1_center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-trai/ao-be-trai-vn-b-139-0.html">Áo bé trai</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-trai/quan-be-trai-vn-b-140-0.html">Quần bé trai</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-trai/do-bo-be-trai-vn-b-141-0.html">Đồ bộ bé trai</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-trai/yem-be-trai-be-gai-vn-b-158-0.html">Yếm Bé Trai, Bé Gái</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-trai/quan-ao-bong-da-tre-em-vn-b-163-0.html">Quần Áo Bóng Đá Trẻ Em</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img height=8 alt="" src="images/spacer.gif"></td>
                                </tr>
                            </table>
                            <table class="block_1_top" cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tab_8_8 block_1_title"><a href="quan-ao-be-gai-vn-32-0.html">Thời trang bé gái</a></td>
                                </tr>
                                <tr>
                                    <td valign="middle" class="block_1_center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-gai/ao-be-gai-vn-b-143-0.html">Áo bé gái</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-gai/quan-be-gai-vn-b-144-0.html">Quần bé gái</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-gai/dam-vn-b-153-0.html">Đầm</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-gai/do-bo-be-gai-vn-b-146-0.html">Đồ bộ bé gái</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-be-gai/quan-di-bien-du-lich-be-trai-be-gai-vn-b-159-0.html">Quần Đi Biển, Du Lịch Bé Trai, Bé Gái</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img height=8 alt="" src="images/spacer.gif"></td>
                                </tr>
                            </table>
                            <table class="block_1_top" cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tab_8_8 block_1_title"><a href="quan-ao-quang-chau-vn-38-0.html">Quần áo Quảng Châu</a></td>
                                </tr>
                                <tr>
                                    <td valign="middle" class="block_1_center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-quang-chau/quan-ao-tre-em-quang-chau-vn-b-184-0.html">Quần áo trẻ em Quảng Châu</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img height=8 alt="" src="images/spacer.gif"></td>
                                </tr>
                            </table>
                            <table class="block_1_top" cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tab_8_8 block_1_title"><a href="quan-ao-gia-si-vn-37-0.html">Quần áo giá sỉ</a></td>
                                </tr>
                                <tr>
                                    <td valign="middle" class="block_1_center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-gia-si/quan-jean-nu-vn-b-181-0.html">Quần jean nữ</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img height=8 alt="" src="images/spacer.gif"></td>
                                </tr>
                            </table>
                            <table class="block_1_top" cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tab_8_8 block_1_title"><a href="kinh-nghiem-quan-ao-tre-em-vn-35-0.html">Kinh nghiệm</a></td>
                                </tr>
                                <tr>
                                    <td valign="middle" class="block_1_center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="kinh-nghiem-quan-ao-tre-em/chon-cac-loai-vai-vn-b-173-0.html">Chọn các loại Vải</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="kinh-nghiem-quan-ao-tre-em/mo-shop-can-biet-vn-b-174-0.html">Mở Shop Cần Biết</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="kinh-nghiem-quan-ao-tre-em/tin-thoi-trang-vn-b-182-0.html">Tin Thời Trang</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="kinh-nghiem-quan-ao-tre-em/goc-kinh-nghiem-vn-b-179-0.html">Góc kinh nghiệm</a></td>
                                            </tr>
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="kinh-nghiem-quan-ao-tre-em/dai-ly-gia-si-vn-b-183-0.html">Đại lý giá sỉ</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img height=8 alt="" src="images/spacer.gif"></td>
                                </tr>
                            </table>
                            <table class="block_1_top" cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tab_8_8 block_1_title"><a href="quan-ao-tre-em-xuat-khau-vn-30-0.html">Sản Phẩm Khác</a></td>
                                </tr>
                                <tr>
                                    <td valign="middle" class="block_1_center">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td valign="middle" class="menu_s"><a href="quan-ao-tre-em-xuat-khau/tin-trong-nganh-vn-b-156-0.html">Tin Trong Ngành</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><img height=8 alt="" src="images/spacer.gif"></td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="top" style="padding-bottom: 8px;">
                                        <a href="index5f60.html?Acat=17&amp;s_cat=0&amp;codetype=0&amp;text_search=TD&amp;start=0&amp;lg=vn&amp;chon_service=" target="">
                                            <img src="https://printshop.liphamedia.com/wp-content/uploads/2020/08/thiet-ke-in-an-standee-xuong-thuong-hieu-liphaprint-6.jpg" class="border_images" border=1 width="150">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" style="padding-bottom: 8px;"><img src="https://pbs.twimg.com/profile_images/980286583050915840/WLnkg2ZD.jpg" class="border_images" border=1 width="150"></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" style="padding-bottom: 8px;"><img src="https://cf.shopee.vn/file/a2882174e94f9031218a40c47c517105" class="border_images" border=1 width="150"></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top" style="padding-bottom: 8px;"><img src="https://sites.google.com/site/bansiquanaotreemxuatkhautphcm/_/rsrc/1535518971564/tai-sao-mua-quan-ao-tre-em-gia-si-tai-bao-chau/tai-sao-mua-quan-ao-tre-em-gia-si-tai-bao-chau-6.jpg" class="border_images" border=1 width="150"></td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0"></table>
                            <table class="block_1_top" cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tab_8_8 block_1_title">THỐNG KÊ</td>
                                </tr>
                                <tr>
                                    <td valign="top" class="block_1_center tab_8_8_8_8">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td height="20" align="center" valign="middle" class="tab_5_5">Lượt truy cập:</td>
                                            </tr>
                                            <tr>
                                                <td height="20" align="center" valign="middle" class="tab_5_5"><b>@ApplicationInstance.Application["Totaluser"]</b></td>
                                            </tr>
                                            <tr>
                                                <td height="20" align="center" valign="middle" class="tab_5_5">Khách Online:</td>
                                            </tr>
                                            <tr>
                                                <td height="20" align="center" valign="middle" class="tab_5_5"><b>@ApplicationInstance.Application["usernow"] </b></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top" style="padding-left: 8px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="top" style="padding-right: 8px;">
                                        @RenderBody();
                                    </td>

                                    <!-- bđ đoạn này  -->
                                    <td width="198" valign="top" class="bg_right">
                                        <table class="block_2_top" cellspacing=0 cellpadding=0 width="200" border=0>
                                            <tr>
                                                <td valign="middle" class="tab_8_8 block_2_title">Tìm kiếm</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" class="block_2_center">
                                                    <table>
                                                        <tr>
                                                            <td width="100%" align="center">
                                                                <form action="/Home/search" method="post">
                                                                    <div class="input-group mb-3 mt-2">
                                                                        <input type="text" name="key" class="form-control" placeholder="bạn muốn tìm gì ?" aria-label="what ?" aria-describedby="basic-addon2">
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-outline-secondary" type="submit">Tìm ngay</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                               
                                                            </td>
                                                            
                                                        </tr>
                                                       
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="block_2_top" cellspacing=0 cellpadding=0 width="200" border=0>
                                            <tr>
                                                <td valign="middle" class="tab_8_8 block_2_title">Giỏ hàng</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" class="block_2_center">
                                                    <table>
                                                        <tr>
                                                            <td width="15%" align="center"><a href="b-vn-62-0/gio-hang/xem-gio-hang.html"><img width="25" height="25" align="absmiddle" src="https://e7.pngegg.com/pngimages/81/559/png-clipart-shopping-cart-software-computer-icons-shopping-cart-text-retail-thumbnail.png" border="0" /></a></td>
                                                            <td width="80%" height="25" class="cart">[ 0 ] <a href=b-vn-62-0/gio-hang/xem-gio-hang.html>Xem giỏ hàng</a> </td>
                                                        </tr>
                                                       
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><img height=8 alt="" src="images/spacer.gif"></td>
                                            </tr>
                                        </table>
                                        <table class="block_2_top" cellspacing=0 cellpadding=0 width="200" border=0>
                                            <tr>
                                                <td valign="middle" class="tab_8_8 block_2_title">Hổ trợ trực tuyến</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" class="block_2_center">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td height="5" align="left" valign="middle"></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="15" align="center" valign="middle" class="tab_4_4_4_4 text_def">
                                                                <table width="100%" cellspacing="1" cellpadding="1" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>

                                                                                <span style="color: rgb(255, 0, 0);">
                                                                                    <p>
                                                                                        &nbsp;<span style="font-size: x-small;">
                                                                                            <span style="FONT-SIZE: small">Hotline 1:&nbsp;</span>
                                                                                        </span><span style="font-size: large;"><span style="FONT-WEIGHT: bold"><span style="COLOR: rgb(51,102,255)">0945.524.726</span></span></span>
                                                                                    </p>
                                                                                </span>
                                                                                <p>
                                                                                    <span style="FONT-SIZE: x-small"><span style="FONT-SIZE: small">Hotline 2</span></span><span style="FONT-SIZE: small">:&nbsp;</span> <span style="FONT-WEIGHT: bold">
                                                                                        <span style="FONT-SIZE: large">
                                                                                            <span style="COLOR: rgb(51,102,255)">
                                                                                                <span style="FONT-WEIGHT: bold">
                                                                                                    0963.262.179<br />
                                                                                                </span>
                                                                                            </span>
                                                                                        </span>
                                                                                    </span>
                                                                                </p>
                                                                                <p><span style="FONT-SIZE: medium"><span style="FONT-WEIGHT: bold"><span style="COLOR: rgb(255,0,0)"><font size="3"><span style="COLOR: rgb(0,0,255)"><font color="#ff0000">LỊCH L&Agrave;M VIỆC: </font><font color="#0000ff">8H30-17H30 Từ Thứ 2-Thứ 7</font></span></font></span></span></span></p>
                                                                                <div>Quần &Aacute;o&nbsp;<span style="color: rgb(255, 0, 0);">Bảo Ch&acirc;u</span> l&agrave; địa chỉ sản xuất&nbsp;<span style="font-size: larger;"><strong>quần &aacute;o trẻ em xuất khẩu&nbsp;</strong></span>lớn nhất, uy t&iacute;n nhất TP.HCM.</div>
                                                                                <span style="FONT-SIZE: medium">
                                                                                    <p><span style="FONT-FAMILY: &quot;Arial&quot;, &quot;sans-serif&quot;; FONT-SIZE: 14pt"><font size="3"><span style="FONT-FAMILY: &quot;Arial&quot;, &quot;sans-serif&quot;; FONT-SIZE: 14pt"><font size="3">Điạ chỉ:&nbsp;<font color="#000000"><strong><font color="#ff0000">30A Nguyễn Ph&uacute;c Chu, P 15, Q. T&acirc;n B&igrave;nh</font></strong> (</font><font color="#0000ff">Đối diện cổng Khu C&ocirc;ng Nghiệp T&acirc;n B&igrave;nh c&oacute; C&acirc;y xăng cửa h&agrave;ng C&aacute;ch đường trường chinh 50M)</font></font></span></font></span></p>
                                                                                    <p><span style="FONT-FAMILY: &quot;Arial&quot;, &quot;sans-serif&quot;; FONT-SIZE: 14pt"><font size="3" color="#0000ff"><img width="200" height="280" alt="" src="https://www.google.com/maps/d/thumbnail?mid=1m40yPq_KzWa0KHO6br_f-LSYsME" /></font></span></p>
                                                                                    <p>&nbsp;</p>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span style="FONT-SIZE: small"><span style="FONT-SIZE: medium"><span style="FONT-SIZE: small">Fax:</span></span><span style="FONT-WEIGHT: bold"><span style="FONT-SIZE: medium"> <span style="FONT-SIZE: small"><span style="FONT-WEIGHT: bold">(028) 62.560.579</span></span></span></span></span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span style="FONT-SIZE: small">Điện thoại: <span style="FONT-SIZE: small"><span style="FONT-WEIGHT: bold">(028) 62.560.579</span></span></span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <span style="FONT-SIZE: x-small"><span style="FONT-SIZE: small">Hotline 1:&nbsp;</span> </span><span style="FONT-SIZE: large"><span style="FONT-WEIGHT: bold"><span style="COLOR: rgb(51,102,255)">0945.524.726</span></span> </span><span style="FONT-SIZE: x-small">
                                                                                    <br />
                                                                                    <span style="FONT-SIZE: small">Hotline 2</span>
                                                                                </span><span style="FONT-SIZE: small">:&nbsp;</span> <span style="FONT-WEIGHT: bold">
                                                                                    <span style="FONT-SIZE: large">
                                                                                        <span style="COLOR: rgb(51,102,255)">
                                                                                            <span style="FONT-WEIGHT: bold">
                                                                                                0963.262.179<br />
                                                                                            </span>
                                                                                        </span>
                                                                                    </span>
                                                                                </span><span style="FONT-WEIGHT: bold">
                                                                                    <span style="FONT-SIZE: large">
                                                                                        <span style="COLOR: rgb(51,102,255)">
                                                                                            <span style="FONT-WEIGHT: bold">
                                                                                                <br />
                                                                                            </span>
                                                                                        </span>
                                                                                    </span>&nbsp;
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>&nbsp; &nbsp; &nbsp;&nbsp;</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <p><span style="FONT-SIZE: small"><span style="FONT-WEIGHT: bold">&nbsp;<a href="mailto:Quanaobaochau@gmail.com">Quanaobaochau@gmail.com</a></span></span></p>
                                                                <p><span style="FONT-SIZE: small"><span style="FONT-WEIGHT: bold"><font color="#0000ff">&nbsp;Xem Bản Đồ Tới Bảo Ch&acirc;u</font></span></span></p>
                                                                <p>&nbsp;</p>
                                                                <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.8574913687175!2d106.6294973148012!3d10.822215992290454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175296251fc2a97%3A0x914bc557b5af00e7!2zUXXhuqduIMOBbyBC4bqjbyBDaMOidQ!5e0!3m2!1svi!2s!4v1506308785743" width="200" height="280" frameborder="0" style="border:0" allowfullscreen=""></iframe></p>
                                                                <p>Xem bản&nbsp;đồ&nbsp;<font size="3"><strong>Quần &Aacute;o Bảo Ch&acirc;u</strong></font>&nbsp;lớn hơn <strong>b&aacute;n sỉ quần &aacute;o trẻ em</strong>&nbsp;</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><img height=8 alt="" src="images/spacer.gif"></td>
                                            </tr>
                                        </table>
                                        <table class="block_2_top" cellspacing=0 cellpadding=0 width="200" border=0>
                                            <tr>
                                                <td valign="middle" class="tab_8_8 block_2_title">Facebook Like</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" class="block_2_center">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td height="5" align="left" valign="middle"></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="15" align="center" valign="middle" class="tab_4_4_4_4 text_def">
                                                                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FY%C3%AAu--146088006090950%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="200" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><img height=8 alt="" src="images/spacer.gif"></td>
                                            </tr>
                                        </table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0"></table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><img height=8 alt="" src="images/spacer.gif"></td>
                                            </tr>
                                        </table>
                                        <table class="block_2_top" cellspacing=0 cellpadding=0 width="200" border=0>
                                            <tr>
                                                <td valign="middle" class="tab_8_8 block_2_title">Tin tức</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" class="block_2_center">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td height="5" align="left" valign="middle"></td>
                                                        </tr>

                                                        <tr>
                                                            <td height="15" align="left" valign="middle" class="tab_4_4_4_4 tieu_de_tin_moi"><a href="tin-tuc/mua-si-quan-ao-tre-em-xuat-khau-tai-gia-lai-pleiku-gia-si.-vn-n-498-0.html"><img width="50" src="https://cf.shopee.vn/file/f029b303c07dbf12a9162be1a4633dc2" alt="Mua sỉ quần áo trẻ em xuất khẩu tại Gia Lai, Pleiku giá sỉ." title="Mua sỉ quần áo trẻ em xuất khẩu tại Gia Lai, Pleiku giá sỉ." border="0" hspace="0" style="float:left ; margin-right: 5px;"></a><a href="tin-tuc/mua-si-quan-ao-tre-em-xuat-khau-tai-gia-lai-pleiku-gia-si.-vn-n-498-0.html" title="Mua sỉ quần áo trẻ em xuất khẩu tại Gia Lai, Pleiku giá sỉ.">Mua sỉ quần áo trẻ em xuất khẩu tại Gia Lai, Pleiku giá sỉ.</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="15" align="left" valign="middle" class="tab_4_4_4_4 tieu_de_tin_moi"><a href="tin-tuc/quan-ao-tre-em-xuat-khau-tai-quan-1-ban-gia-si-quan-1-vn-n-472-0.html"><img width="50" src="https://toplistdanang.com/wp-content/uploads/2019/11/shop-ao-quan-tre-em-da-nang-6_optimized.jpg" alt="Quần áo trẻ em xuất khẩu tại quận 1, bán giá sỉ quận 1" title="Quần áo trẻ em xuất khẩu tại quận 1, bán giá sỉ quận 1" border="0" hspace="0" style="float:left ; margin-right: 5px;"></a><a href="tin-tuc/quan-ao-tre-em-xuat-khau-tai-quan-1-ban-gia-si-quan-1-vn-n-472-0.html" title="Quần áo trẻ em xuất khẩu tại quận 1, bán giá sỉ quận 1">Quần áo trẻ em xuất khẩu tại quận 1, bán giá sỉ quận 1</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="15" align="left" valign="middle" class="tab_4_4_4_4 tieu_de_tin_moi"><a href="tin-tuc/quan-ao-tre-em-xuat-khau-thu-dong-ban-buon.-san-xuat-bao-chau.-vn-n-441-0.html"><img width="50" src="https://www.bexinhshop.vn/image/data/20-8-2019/bolinhbriden2_1.jpg" alt="Quần áo trẻ em xuất khẩu Thu Đông bán buôn.-Sản xuất Bảo Châu." title="Quần áo trẻ em xuất khẩu Thu Đông bán buôn.-Sản xuất Bảo Châu." border="0" hspace="0" style="float:left ; margin-right: 5px;"></a><a href="tin-tuc/quan-ao-tre-em-xuat-khau-thu-dong-ban-buon.-san-xuat-bao-chau.-vn-n-441-0.html" title="Quần áo trẻ em xuất khẩu Thu Đông bán buôn.-Sản xuất Bảo Châu.">Quần áo trẻ em xuất khẩu Thu Đông bán buôn.-Sản xuất Bảo Châu.</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="15" align="left" valign="middle" class="tab_4_4_4_4 tieu_de_tin_moi"><a href="tin-tuc/phan-biet-quan-ao-tre-em-xuat-khau-that-voi-hang-gia-hang-nhai.-vn-n-422-0.html"><img width="50" src="https://ae01.alicdn.com/kf/HTB19Yp3akP2gK0jSZPxq6ycQpXac.jpg_q50.jpg" alt="Phân biệt quần áo trẻ em xuất khẩu thật với hàng giả, hàng nhái." title="Phân biệt quần áo trẻ em xuất khẩu thật với hàng giả, hàng nhái." border="0" hspace="0" style="float:left ; margin-right: 5px;"></a><a href="tin-tuc/phan-biet-quan-ao-tre-em-xuat-khau-that-voi-hang-gia-hang-nhai.-vn-n-422-0.html" title="Phân biệt quần áo trẻ em xuất khẩu thật với hàng giả, hàng nhái.">Phân biệt quần áo trẻ em xuất khẩu thật với hàng giả, hàng nhái.</a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><img height=8 alt="" src="images/spacer.gif"></td>
                                            </tr>
                                        </table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0"></table>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><img height=8 alt="" src="images/spacer.gif"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" class="bg_all_bottom" height="8"></td>
        </tr>
    </table>
    <meta charset="utf-8">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="bottom" align="center" class="bg_bottom" style="padding-top: 12px; padding-bottom: 5px;background-color: #898989;">
                <table width="1000" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top">
                            <table cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tieu_de">Hỗ trợ khách hàng</td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-top: 3px;">
                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tieu_de">Thông tin</td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-top: 3px;">
                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table cellspacing=0 cellpadding=0 width="100%" border=0>
                                <tr>
                                    <td valign="middle" class="tieu_de">Kết nối với chúng tôi</td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-top: 3px;">
                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="30%" valign="top">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="top" style="padding-bottom: 5px;">
                                        <img height="50" src="https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-hand-drawn-cute-cute-cat-banner-background-psd-image_272157.jpg" class="border_images" width="400" />

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="bg_bottom_2" align="center">
                <table width="1000" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="100%" height="100" align="center" valign="top" class="text_menu_bottom" style="padding-top: 8px; padding-bottom: 8px;">
                            <title></title>
                            <link href="tool/editor/css/fck_editorarea.css" type="text/css" rel="stylesheet" />
                            <title></title>
                            <link href="tool/editor/css/fck_editorarea.css" type="text/css" rel="stylesheet" />
                            <p style="padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">Copyright &copy; 2011&nbsp;<a rel="nofollow" href="index.html" style="padding: 0px; border: 0px; outline: invert none 0px; text-decoration: none; color: rgb(51, 51, 51);">quanaobaochau.com</a>.</p>
                            <p style="padding: 0px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;">C&ocirc;ng ty&nbsp;&nbsp;<u>quần &aacute;o trẻ em</u>, quần &aacute;o trẻ em gi&aacute; sỉ,</p>
                            <div><span style="text-decoration: underline; color: rgb(0, 0, 238); font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 11px; text-align: -webkit-center;">.................................................................................................</span></div>
                            <div>
                                <img src="https://i1.wp.com/tuvannhathuong.com/wp-content/uploads/2018/07/t%E1%BA%A3i-xu%E1%BB%91ng.png?resize=365%2C138&ssl=1" width="200" height="76" alt="" /><br />
                                <span style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 13px; line-height: 17.94px; white-space: pre-wrap;">Quần &Aacute;o  BẢO CH&Acirc;U </span>
                            </div>
                            <p style="margin: 10px 0px 0px; white-space: pre-wrap; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 13px; line-height: 17.94px;">- 30A Nguyễn Ph&uacute;c Chu, Phường 15, Quận T&acirc;n B&igrave;nh, Tp.HCM</p>
                            <p style="margin: 10px 0px 0px; white-space: pre-wrap; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 13px; line-height: 17.94px;">-  MST: 41N8028377</p>
                            <p style="margin: 10px 0px 0px; white-space: pre-wrap; color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 13px; line-height: 17.94px;">Email: quanaobaochau@gmail.com</p>
                            <div>
                                <span style="color: rgb(20, 24, 35); font-family: helvetica, arial, sans-serif; font-size: 13px; line-height: 17.94px; white-space: pre-wrap;">
                                    Chịu tr&aacute;ch nhiệm quản l&yacute; nội dung: Đặng Văn B&aacute;u<br />
                                </span> <span style="text-decoration: underline; color: rgb(0, 0, 238); font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 11px; text-align: -webkit-center;">.................................................................................................</span><br />
                                <a href="so-do-website-vn-18-0.html" style="padding: 0px; border: 0px; outline: invert none 0px; font-family: Arial, Helvetica, sans-serif; color: rgb(51, 51, 51); text-align: -webkit-right;">
                                    Sơ đồ website<br />
                                    <br type="_moz" />
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-10129670-1");
            pageTracker._trackPageview();
        } catch (err) { }
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-44339021-2', 'auto');
        ga('send', 'pageview');

    </script>
</body>
<script src="js/ActiveX_Template.js" language="javascript"></script>
</html>

