
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="border: 1px solid black;">
    <h2 style="color=blue">Tin tức</h2>
    @foreach (var item in Model)
    {
        <div>
            <table style="        width: 100%;
        border-bottom-style: dotted;
       margin: 10px 10px 10px 10px;">
                <tr>
                    <td width="150px" rowspan="2"><a href="/Quyen/DetailsNew?id= @item.MaTinTuc"><img style=" display: block; width: 100px; height:100px;" src="@item.LinkAnh" /></a></td>
                    <td><b><a style="font-size=18; color=Blue" href="/Quyen/DetailsNew?id= @item.MaTinTuc">@item.TieuDe</a></b></td>
                </tr>
                <tr>
                    <td>
                        <h6><i>@ViewBag.time</i></h6>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

